@model ParcialDos.Models.Recepcion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Recepcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecFolio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecFolio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecFechaRecepcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecFechaRecepcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecFechaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecFechaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecLocalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecLocalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecCantidadMuestras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecCantidadMuestras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.CliNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.CliNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laboratorios.LabNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laboratorios.LabNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
